#message {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #0000;
    border-radius: 3px;
    border: 1px solid #333;
    color: #fff;
    font-size: 11px;
    padding: 10px;
    list-style: none;
}
.keyboard-status {
    margin: 5px 0;
    font-family: 'sans-serif'
}
.keyboard-status::after {
    content: 'UP';
    margin-left: 1em; 
    border-radius: 2px;
    border: 1px solid #666;
    padding: 1px 5px;
    width: 5em;
    display: inline-block;
    font-size: 8px;
    text-align: center;
}
.keyboard-status.down {
    color: #d33;
}
.keyboard-status.down::after {
    content: 'DOWN';
    border-color: #d33
}
